FLASK_CONFIG=development
SECRET_KEY=
DATABASE_URL=postgresql://user:password@localhost:5432/wsf_dev
JWT_SECRET_KEY=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=
MPESA_PASSKEY=

FRONTEND_URL=http://localhost:5173
API_URL=http://localhost:5000/api/v1

MAIL_SERVER=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=

GOOGLE_ANALYTICS_ID=
META_PIXEL_ID=
LINKEDIN_INSIGHT_TAG_ID=
